body{
    background-color: rgb(242, 133, 133);
}

h1{
    color: white;
}

button{
    background-color: brown;
    color: white;
    padding: 20px;
}
div{
    width: 200px;
    height: 200px;
    background-color: brown;
}